Repository nikolay-e/mac-dev-setup: changes, and which pre-commit hooks are due for each by the changed paths.
All: shellcheck, install-dry-run, uninstall-dry-run, brewfile-validity

shellcheck:
  name: ShellCheck
  entry: shellcheck
  language: system
  args:
  - --severity=warning

install-dry-run:
  name: Test installer dry-run
  entry: ./install.sh --dry-run --yes
  language: system
  pass_filenames: false

uninstall-dry-run:
  name: Test uninstaller dry-run
  entry: bash -c './uninstall.sh --help >/dev/null && echo "✓ Uninstaller help works"'
  language: system
  pass_filenames: false

brewfile-validity:
  name: Validate Brewfile syntax
  entry: bash -c 'brew bundle list --file=./Brewfile >/dev/null && echo "✓ Brewfile syntax is valid"'
  language: system
  pass_filenames: false

Some refactoring (#3)
  .github/dependabot.yml
  .github/workflows/bats-tests.yml
  .github/workflows/brew-bundle-test.yml
  .github/workflows/install-test.yml
  .github/workflows/lint.yml
  .github/workflows/shellcheck.yml
  .gitignore
  .mac-dev-setup-aliases
  .pre-commit-config.yaml
  Brewfile
  CONTRIBUTING.md
  README.md
  docs/10-homebrew.md
  install.sh
  learn-aliases/README.md
  learn-aliases/learn_aliases/__init__.py
  learn-aliases/learn_aliases/cli.py
  learn-aliases/setup.py
  modules/aws.sh
  modules/core.sh
  modules/development.sh
  modules/docker.sh
  modules/git.sh
  modules/kafka.sh
  modules/kubernetes.sh
  modules/terraform.sh
  modules/utilities.sh
  package.json
  pipx.txt
  plugins.toml
  scripts/generate-plugins.js
  scripts/learn-aliases.sh
  tasks/apply-security-settings.sh
  tasks/brew.install.sh
  tasks/common.sh
  tasks/python.install.sh
  tasks/symlinks.sh
  test/scripts.bats
  uninstall.sh
  zsh_config.sh
Due: shellcheck, install-dry-run, uninstall-dry-run, brewfile-validity

WIP
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/install-test.yml
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  Brewfile
  CONTRIBUTING.md
  install.sh
  modules/development.sh
  starship.toml
  uninstall.sh
  zsh_config.sh
Due: shellcheck, install-dry-run, uninstall-dry-run, brewfile-validity

deps: configure daily Dependabot with automerge
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/automerge.yml
  .github/workflows/install-test.yml
  .github/workflows/lint.yml
Due: none

refactor: consolidate docs, improve pre-commit, add Claude config
  .claude/commands
  .claude/settings.json
  .pre-commit-config.yaml
  Brewfile
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/00-prereqs.md
  docs/10-homebrew.md
  install.sh
  modules/development.sh
  starship.toml
  uninstall.sh
  zsh_config.sh
Due: shellcheck, install-dry-run, uninstall-dry-run, brewfile-validity

feat: Add Renovate for automated dependency updates
  renovate.json
Due: none

fix(ci): use system shellcheck instead of Docker
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

refactor: replace emojis with ASCII, install pre-commit via pipx
  .pre-commit-config.yaml
  Brewfile
  install.sh
  modules/core.sh
  scripts/learn-aliases.sh
  uninstall.sh
Due: shellcheck, install-dry-run, uninstall-dry-run, brewfile-validity

Make pre-commit non-blocking in CI
  .github/workflows/lint.yml
Due: none

fix: address review findings across CI, installer, and configs
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  CLAUDE.md
  install.sh
  renovate.json
  starship.toml
  uninstall.sh
Due: shellcheck, install-dry-run, uninstall-dry-run

refactor: unify helper function names, clean up renovate config
  install.sh
  renovate.json
  uninstall.sh
Due: shellcheck, install-dry-run, uninstall-dry-run

remove alias-tips plugin (noisy, unused hints)
  plugins.toml
Due: install-dry-run

Add shift-commit-time post-commit hook
  .pre-commit-config.yaml
Due: none

Remove shift-commit-time hook
  .pre-commit-config.yaml
Due: none

Path conditions:
  shellcheck: any of: \.(sh|bash|zsh)$
  install-dry-run: any of: ^(install\.sh|Brewfile|zsh_config\.sh|plugins\.toml|modules/.*)$
  uninstall-dry-run: any of: ^uninstall\.sh$
  brewfile-validity: any of: ^Brewfile$
